# Folders
/.ddev export-ignore
/.github export-ignore
/.vscode export-ignore
/Build export-ignore
/Documentation export-ignore
/Tests export-ignore

# Files
/.* export-ignore
/ExtensionBuilder.json export-ignore

# Enforce checkout with linux lf consistent over all plattforms
.ddev/commands/*/* text eol=lf
*.xml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.svg text eol=lf
*.tmpl text eol=lf
*.js text eol=lf
*.json text eol=lf
*.php text eol=lf
*.rst text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.xlf text eol=lf
*.sql text eol=lf
*.t3s text eol=lf
*.txt text eol=lf
*.typoscript text eol=lf
*.tsconfig text eol=lf

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf
